@{
	ViewBag.Title = "Insecure Deserialization List";
}

<div class="jumbotron">
	<h1>Insecure Deserialization List</h1>
	<p class="lead">This is an insecure json deserialization. TypeName Handling is set to All.</p>
</div>
