@{
    ViewBag.Title = "Secure Deserialization";
}

<div class="jumbotron">
    <h1>Secure Deserialization</h1>
    <p class="lead">Custom type name handling has been performed here so that only those types which are already whitelisted are allowed to run.</p>
</div>
