@{
    ViewBag.Title = "Type Safe Deserialization";
}

<div class="jumbotron">
    <h1>Type Safe Deserialization</h1>
    <p class="lead">A type parameter has been provided here so only this type of object can be constructed.</p>
</div>
